<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.padc.goldenmyanmartour">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Implicit Intents -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".GMTApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DestinationDetailActivity"
            android:label="@string/destinations"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.PackageDetailActivity"
            android:label="@string/packages"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.HotelDetailActivity"
            android:label="Hotels"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.SearchActivity" />

        <activity
            android:name=".activity.FestivalDetailActivity"
            android:label="@string/festivals"
            android:parentActivityName=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <provider
            android:name=".data.persistence.DestinationProvider"
            android:authorities="@string/content_authority"
            android:enabled="true"
            android:exported="true"
            android:syncable="true" />

    </application>

</manifest>